<!DOCTYPE html>
<html class="h-100">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}OVH telephony lines manager{% endblock %}</title>

        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/fontawesome-5.14.0-all.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/sticky-footer-navbar.css') }}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body class="d-flex flex-column h-100">
        <header>
            {% block menu %}
                <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                    <a class="navbar-brand" href="{{ path('index') }}">OVH Telephony</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item {% if app.request.attributes.get('_route') == 'index' %}active{% endif %}">
                                <a class="nav-link" href="{{ path('index') }}">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('index') }}">Link</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            {% endblock %}
        </header>
        <main role="main" class="flex-shrink-0">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        {% block breadcrumb %}
                            {% if app.request.get('_route') == 'index' %}
                                <li class="breadcrumb-item active" aria-current="page"><i class="fas fa-home" style="height: 100%;"></i> Home</li>
                            {% else %}
                                <li class="breadcrumb-item"><a href="{{ path('index') }}"><i class="fal fa-home" style="height: 100%;"></i> Home</a></li>
                            {% endif %}
                        {% endblock %}
                    </ol>
                </nav>

                <h1>{% block pagetitle %}{% if mainPageTitle is defined %}{{ mainPageTitle }}{% endif %}{% endblock %}</h1>

                {% if mainPageTitle is defined %}
                    <hr>
                {% endif %}

                <div>
                    {% block body %}

                    {% endblock %}
                </div>
            </div>
        </main>
        <footer class="footer mt-auto py-3">
            <div class="container">
                <span class="text-muted">© Copyright {{ "now"|date('Y') }}</span>
            </div>
        </footer>
        {% block javascripts %}
            <script src="{{ asset('js/jquery-3.5.1.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
            <script src="https://unpkg.com/@popperjs/core@2"></script>
            <script src="{{ asset('js/fontawesome-5.14.0-all.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
